*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: open sans;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    background-image: url(https://img.freepik.com/free-photo/blue-abstract-gradient-wave-wallpaper_53876-108364.jpg?size=626&ext=jpg&ga=GA1.1.1929311289.1694337303&semt=ais);
    background-size: cover;
}

.upperbar{
    
    display: flex;
    height: 8.5vh;
}
.errplc{
    
    height: 11%;
    width: 82%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.errtxt{
    color: red;
    font-size: 1.7vh;
    display: none;
}

.weblogoplace{
    
    width: 20vw;
    height: 8.5vh;
    background-color: rgba(195, 206, 226,0.4);
}
.webnameplace{
    
    width: 80vw;
    height: 8.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(195, 206, 226,0.4);
}

.sidenav
{
    width: 20vw;
    height: 91.5vh;
    background-color: rgba(195, 206, 226,0.4);
    
}
.sidenavopt{
    width: 20vw;
    height: 83vh;
    border: 0.1px solid white;
    overflow-y: auto;
}
.sidenavdown{
    width: 20vw;
    height: 8.5vh;
    
}


.downflex{
    display: flex;
}

#weblogoimg
{
    height: 100%;
    width: 100%;
}

.webname{
    font-size: 5vh;
}

.sidenavopt li{
    
    height: 6vh;
    
    margin-bottom: 1vh;
}

.sidenavopt ul{
    margin-top: 4vh;
}
.sidenavopt ul li a{
    
    font-size: 2.5vh;
    color: black;
    text-decoration: none;
    margin-left: 0.7vw;
    margin-bottom: 12vh;
}

.sidenavdown{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.curruserlogo{
    
    height: 80%;
    width: 15%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWZWFVq0QIidGN0ioQJHhNBoEr1DvlH_yR05nH2_uz3tku7PvXWnDGshe5PHLqxQ91oMQ&usqp=CAU");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 7vh;
}

.currusername
{
    font-size: 3vh;
    margin-left: -2vw;
    
    
}

.content{
    
    width: 80vw;
    height: 91.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

select{
    /* border: 2px solid red; */
    height: 4vh;
    width: 13vw;
    font-size: 2.5vh;
  
    background: transparent;
    border: none;
    outline: none;
}

/* background-color: rgba(195, 206, 226,0.4); */
option{
    background-color: rgba(170, 206, 226, 0.4);
    border: none;
    outline: none;
}



/* common page ends here */


.changepassword-wrapper{
    
    height: 70vh;
    width: 32vw;
    border-radius: 12px;
    backdrop-filter: blur(30px);
    box-shadow: 2px 2px 2px black;
                
}

.changepasswordtagplace{
    font-size: 3vh;
    background-color: rgb(2, 26, 51);
    
    height: 7vh;
    color: white;
    border-radius: 10px;
    margin-top: 5vh;
    margin-bottom: 3vh;
    margin-left: 2vw;
    width: 28vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.subtags{
    font-size: 2.5vh;
    margin-left: 2vw;
}
.containerforinput{
    
    height: 7vh;
    display: flex;
    width: 30vw;
    margin-bottom:3vh;
}
.sidelogoofpass{
  width: 10%;
  height: 100%;
  display: flex;
  background-color: rgb(226, 247, 255);
  background: transparent;
  margin-left: 2vw;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.inputbox{
  width: 28vw;
  height: 100%;
  
}

input{
   height: 100%;
   width: 100%;
   font-size: 2vh;
   background-color: rgb(224, 255, 255);
   background: transparent;
   border: none;
   outline: none;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   
}

.input:focus{
    outline: none;
    border: none;
}

.placeforbutton{
    
    display: flex;
    justify-content: center;
    margin-left: 2vw;
    width: 28vw;
}

.btn{
  color: white;
  background-color: rgb(2, 26, 51);
  height: 5vh;
  width: 5vw;
  margin-top: 2vh;
  border-radius: 7px;
  font-size: 2vh;

}

.btn:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.containerforinput:hover{
    transition: 0.1s;
    transform: scale(1.01);
}





