*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: open sans;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    background-image: url(https://img.freepik.com/free-photo/blue-abstract-gradient-wave-wallpaper_53876-108364.jpg?size=626&ext=jpg&ga=GA1.1.1929311289.1694337303&semt=ais);
    background-size: cover;
}

.upperbar{
    
    display: flex;
    height: 8.5vh;
}

.weblogoplace{
    
    width: 20vw;
    height: 8.5vh;
    background-color: rgba(195, 206, 226,0.4);
}
.webnameplace{
    
    width: 80vw;
    height: 8.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(195, 206, 226,0.4);
}

.sidenav
{
    width: 20vw;
    height: 91.5vh;
    background-color: rgba(195, 206, 226,0.4);
    
}
.sidenavopt{
    width: 20vw;
    height: 83vh;
    border: 0.1px solid white;
}
.sidenavdown{
    width: 20vw;
    height: 8.5vh;
    
}


.downflex{
    display: flex;
}

#weblogoimg
{
    height: 100%;
    width: 100%;
}

.webname{
    font-size: 5vh;
}

.sidenavopt li{
    
    height: 6vh;
    
    margin-bottom: 1vh;
}

.sidenavopt ul{
    margin-top: 4vh;
}
.sidenavopt ul li a{
    
    font-size: 2.5vh;
    color: black;
    text-decoration: none;
    margin-left: 0.7vw;
    margin-bottom: 12vh;
}

.sidenavdown{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.curruserlogo{
    
    height: 80%;
    width: 15%;
    background-image: url("../img/man.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 7vh;
}

.currusername
{
    font-size: 3vh;
    margin-left: -2vw;
    
    
}

.content{
    
    width: 80vw;
    height: 91.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* common page ends here */

.result-wrapper{
    
    height: 95%;
    width: 80%;
}

.gradetagplace{
    height: 10%;
    width: 100%;
    
    margin-bottom: 2.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 2.4vh;
}

.basicdetailplace{
    height: 11%;
    width: 100%;
    
    display: grid;
    grid-template-columns: 15% 55% 15% 15%;
    grid-template-rows: 50% 50%;
}

.grid-item{
    border: 2px solid black;
    display: flex;
    align-items: center;
    font-size: 2vh;
    justify-content: center;
}

h2{
    font-size: 3.8vh;
}

.grid-item.start{
    justify-content: flex-start;
    padding: 0.8vh; 
}

.grid-item.titles{
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    font-weight: 800;
    /* padding: 0.8vh; */
}

.semestertag{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    height: 5%;
    margin-top: 1.4vh;
    margin-bottom: 1.4vh;
    
}

.Sem-Tag{
    border: none;
    font-weight: 800;
    font-size: 2.6vh;
}

.gradedetailplace{
    
    width: 100%;
    height: 40%;
    display: grid;
    grid-template-columns: 40% 10% 20% 10% 20%;
    grid-template-rows: 7vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh;
    margin-bottom: 2vh;
}

.countplace{
    width: 100%;
    height: 15%;
    margin-top: 1vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 52% 23%;
    
}

.center-and-bold{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

#forspanning{
    grid-column-start: 1;
    grid-column-end: 5;
    border: none;
    
    
    margin-bottom: 2vh;
    
    
}

.center-and-bold{
    font-weight: 800;
    font-size: 2.5vh;
}

.printbtnplace{
    height: 8%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.btn{
    color: white;
    background-color: rgb(2, 26, 51, 0.85);
    height: 4vh;
    width: 5vw;
    border-radius: 10px;
    font-size: 2.5vh;
  
  }
  
  .btn:hover{
      transition: 0.2s;
      transform: scale(1.1);
  }