<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/faculty-attendance-update-p2.css">
    <script src="https://kit.fontawesome.com/300fc8e5c2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
    <div class="upperbar">
        <div class="weblogoplace">
            <img src="img/logo.png" alt="not rendered" id="weblogoimg">
        </div>
        <div class="webnameplace">
            <div class="webname"><p id="temp1">Student Information System</p></div>
        </div>        
    </div>
    <div class="downflex">
    <div class="sidenav">
        <div class="sidenavopt">
          <ul>
            <li><a href="/facultyhome" class="bcolor"><i class="fa-solid fa-house"></i> Home </a></li>
            <li><a href="/viewfaculty" class="bcolor"><i class="fa-solid fa-user"></i> Faculty Details </a></li>
            <li><a href="/coursegrade" class="bcolor"><i class="fa-solid fa-file"></i> Course Grade</a></li>
            <li><a href="/courseattendence"><i class="fa-solid fa-clipboard"></i> Course Attendence </a></li>
            <li><a href="/changepwdfaculty"><i class="fa-solid fa-key"></i> Change Password </a></li>
            <li><a  href="/logoutfaculty"><i class="fa-solid fa-right-to-bracket"></i> Logout </a></li>
          </ul>
        </div>
        <div class="sidenavdown">
            <div class="curruserlogo">

            </div>
            <div class="currusername">
              <%= user[0].fullname %>
            </div>
        </div>
    </div>

    <div class="content">
            
      <div class="course-detail-place">
        <div class="course-code-place">
          <p class="course-code">IT-313</p>
        </div>
        <div class="course-name-place">
          <p class="course-name">Software Engineering</p>
        </div>
        <div class="upload-sheet-place">
          <p class="upload-sheet">Upload file : </p>
          <input type= "file" id="file-ip">
        </div>
      </div>
      
      <div class="student-list-tag-place">
        <p class="student-list-tag">Enrolled Students</p>
      </div>

      <div class="table-wrapper">
          <table>
              <thead>
                  <th style="width: 15%;">Sr No.</th>
                  <th style="width: 35%;">Student ID</th>
                  <th style="width: 50%;">Student Name</th>
              </thead>~
          
          
              <tbody>
                  <div class="temp-div">
                  <tr>
                      <td class="leftpad">1</td>
                      <td class="center-items"><center>202101111</center></td>
                      <td class="center-items"><center>Ragnar Lothbroke</center></td>
                  </tr>
                  <tr>
                    <td class="leftpad">1</td>
                    <td class="center-items"><center>202101111</center></td>
                    <td class="center-items"><center>Ragnar Lothbroke</center></td>
                  </tr>
                  <tr>
                    <td class="leftpad">1</td>
                    <td class="center-items"><center>202101111</center></td>
                    <td class="center-items"><center>Ragnar Lothbroke</center></td>
                  </tr>
                  <tr>
                    <td class="leftpad">1</td>
                    <td class="center-items"><center>202101111</center></td>
                    <td class="center-items"><center>Ragnar Lothbroke</center></td>
                  </tr>
                  <tr>
                    <td class="leftpad">1</td>
                    <td class="center-items"><center>202101111</center></td>
                    <td class="center-items"><center>Ragnar Lothbroke</center></td>
                  </tr>
                  <tr>
                    <td class="leftpad">1</td>
                    <td class="center-items"><center>202101111</center></td>
                    <td class="center-items"><center>Ragnar Lothbroke</center></td>
                  </tr>
                  <tr>
                    <td class="leftpad">1</td>
                    <td class="center-items"><center>202101111</center></td>
                    <td class="center-items"><center>Ragnar Lothbroke</center></td>
                  </tr>
                  <tr>
                    <td class="leftpad">1</td>
                    <td class="center-items"><center>202101111</center></td>
                    <td class="center-items"><center>Ragnar Lothbroke</center></td>
                  </tr>
                  <tr>
                    <td class="leftpad">1</td>
                    <td class="center-items"><center>202101111</center></td>
                    <td class="center-items"><center>Ragnar Lothbroke</center></td>
                  </tr>
                  </div>
              </tbody>
          </table>
      </div>
      
      <!-- <div class="btn-place">
        <button type="button" class="btn"><b>Done</b></button>
    </div>
       -->
<!-- content     -->
</div>


<!-- downflex -->
</div>

<!-- wrapper -->
</div>

</body>
</html>
</body>
</html>

