<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/login-faculty.css" rel="stylesheet">
    <title>Faculty Login</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="side">
                <img src="https://img.freepik.com/premium-vector/cloud-computing-flat-illustration-trendy-vector_203633-1933.jpg?w=996"
                    alt="img" class="sideimg">
            </div>

            <div class="formbox">
                <form action="/forgotpwdfaculty" method="post" class="form">
                    <h2>Faculty
                    </h2>
                    <div class="logoandinput">
                        <img class="sidelogo"
                            src="https://img.freepik.com/premium-vector/email-symbol-white-background-drawing-by-illustration_872756-174.jpg?w=740"
                            alt="" id="maillogo">
                        <input type="email" name="f_email" class="box" placeholder="Enter E-mail">
                    </div>
                    <hr>
                    <input type="submit" value="Reset" class="submit">
                    
                </form>
            </div>

        </div>
    </div>
</body>

</html>