<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/login-admin.css" rel="stylesheet">

    <script>

        function validateForm() {
            var x = document.forms["nam"]["a_email"].value;
            var y = document.forms["nam"]["a_password"].value;

            if ( x == "") {
            document.querySelector(".errtxt").textContent="Please Enter Email Address";
            document.querySelector(".errtxt").style.display="flex";
            return false;
            }
            if(y == "")
            {
                document.querySelector(".errtxt").textContent="Please Enter Password";
                document.querySelector(".errtxt").style.display="flex";
                return false;
            }
        }
  
    </script>

    <title>Admin Login</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="side">
                <img src="https://img.freepik.com/premium-vector/cloud-computing-flat-illustration-trendy-vector_203633-1933.jpg?w=996"
                    alt="img" class="sideimg">
            </div>

            <div class="formbox">
                <form action="/adminlogin" class="form" method="post" onsubmit="return validateForm()" name="nam">
                    <h2>Admin
                    </h2>
                    <div class="logoandinput">
                        <img class="sidelogo"
                            src="https://img.freepik.com/premium-vector/email-symbol-white-background-drawing-by-illustration_872756-174.jpg?w=740"
                            alt="" id="maillogo">
                        <input type="email" name="a_email" class="box" placeholder="Enter E-mail">
                    </div>
                    <hr>
                    <div class="logoandinput">
                        <img id="passlogo" class="sidelogo"
                            src="https://img.freepik.com/premium-vector/privacy-settings-icon-settings-icon-with-padlock-sign-settings-icon-security-protection-privacy-symbol-vector-icon_775815-996.jpg?w=740"
                            alt="">
                        <input type="password" name="a_password" class="box" placeholder="Enter password">
                    </div>
                    <hr>
                    <div class="errplc">
                        <p class="errtxt">Please Enter Email Address</p>
                    </div>
                    <input type="submit" value="Login" class="submit">

                    <a href="/forgotpwdadmin"> Forgot Passward?</a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>