<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/student-common-page.css">
    <link rel="stylesheet" href="css/student-fee-receipt.css">
    <script src="https://kit.fontawesome.com/300fc8e5c2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        <div class="upperbar">
            <div class="weblogoplace">
                <img src="img/logo.png" alt="not rendered" id="weblogoimg">
            </div>
            <div class="webnameplace">
                <div class="webname"><p id="temp1">Student Information System</p></div>
            </div>        
        </div>
        <div class="downflex">
        <div class="sidenav" action="/studenthome" , method="post">
            <div class="sidenavopt">
                <ul>
                    <li><a href="/studenthome" class="bcolor"><i class="fa-solid fa-house"></i> Home </a></li>
                    <li><a href="/viewstudent" class="bcolor"><i class="fa-solid fa-user"></i> Student Details </a></li>
                    <li><a href="/viewgrade" class="bcolor"><i class="fa-solid fa-file"></i>&nbsp;Grade Reports</a></li>
                    <li><a href="/viewattendence"><i class="fa-solid fa-clipboard"></i>&nbsp;Attendence </a></li>
                    <li><a href="/courseregistration"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Course Registration </a></li>
                    <li><a href="/student-announcement"><i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;Announcement </a></li>
                    <li><a href="/changepwdstudent"><i class="fa-solid fa-key"></i> Change Password </a></li>
                    <li><a  href="/logoutstudent"><i class="fa-solid fa-right-to-bracket"></i> Logout </a></li>
                  </ul>
            </div>
            <div class="sidenavdown">
                <div class="curruserlogo">
    
                </div>
                <div class="currusername">
                    SSS
                </div>
            </div>
        </div>
    
        <div class="content">
        
        <div class="fee-tag-place">
            <p class="fee-tag">Fee-Receipt</p>
        </div>
       
        <div class="fee-receipt-wrapper">
            <div class="tag-place">
                <div class="receipt-no-place">
                    <p class="up-tag">Receipt No :</p>
                    <p class="up-tag">&nbsp;C781443</p>
                </div>
                <div class="date-place">
                    <p class="up-tag">Date :</p>
                    <p class="up-tag">&nbsp;05-05-2005</p>
                </div>
            </div>
            <div class="table-for-fees">
                <p class="left-part">Name</p>
                <p class="right-part">Gopal Vaghela</p>
                <p class="left-part">Student-ID</p>
                <p class="right-part">202101483</p>
                <p class="left-part">Programme</p>
                <p class="right-part">ICT</p>
                <p class="left-part">Batch</p>
                <p class="right-part">2021</p>
                <p class="left-part">Semester</p>
                <p class="right-part">2</p>

                <p class="sep-tag">Fee/Charges</p>
                <p class="sep-tag">Amount in Rs.</p>

                <p class="left-part">Medical-Insurance</p>
                <p class="right-part">1,500.00</p>
                <p class="left-part">Caution-Money Deposite</p>
                <p class="right-part">20,000.00</p>
                <p class="left-part">Registration-Fee</p>
                <p class="right-part">2500.00</p>
                <p class="left-part">Tution-Fee</p>
                <p class="right-part">43,000.00</p>
                <p class="left-part">Total</p>
                <p class="right-part">67,000.00</p>

                <p class="sep-tag">Payment</p>
                <p class="sep-tag">Details</p>

                <p class="left-part">Cash Amount</p>
                <p class="right-part">0.00</p>
                <p class="left-part">DD/Cheque Amount</p>
                <p class="right-part">67,000.00</p>
                <p class="left-part">DD/Cheque No</p>
                <p class="right-part">-</p>
                <p class="left-part">DD/Cheque Date</p>
                <p class="right-part">-</p>
                <p class="left-part">DD/Cheque issuing Bank</p>
                <p class="right-part">-</p>


            </div>
        </div>
        <div class="printbtnplace">
            <button type="button" class="btn">Print</button>
        </div>
            
     <!-- content     -->
    </div>

    
    <!-- downflex -->
    </div>

    <!-- wrapper -->
    </div>

</body>
</html>
</body>
</html>